.movie-poster {
  object-fit: contain;
  width: auto;
  max-height: 240px;
  margin-right: 10px;
  border-radius: 30px;
  padding: 10px;

  transition: transform 0.5s;
  z-index: 0;
}

.movie-poster:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
  z-index: 1;
}
