.movie-poster {
  object-fit: contain;
  width: 100%;
  max-height: 240px;
  margin-right: 10px;
  border-radius: 15px;

  transition: transform 0.5s;
  z-index: 0;
}

.movie-poster:hover {
  transform: scale(1.15);
  transition-duration: 0.5s;
  z-index: 1;
}
