.video-player-window {
  background-color: transparent;
  box-shadow: none;

  .react-responsive-modal-closeButton {
    top: 24px;
    right: 24px;
    border-radius: 15px;
    outline: none;

    svg {
      fill: white;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.trailer {
  outline: none;
  border-radius: 15px;
}
