@use "./nav";
@use "./carousel";
@use "./movie";
@use "./detaildialog";
@import "react-responsive-modal/styles.css";

$base-color: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  background-color: $base-color;
}

.modal-detail {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}
